<i (click)="onActionButton_Click(id, 1)" class="pointer" data-bs-toggle="modal" data-bs-target="#view_visitor"><i class="fa fa-align-justify" data-bs-toggle="tooltip" title="View"></i></i>
<i (click)="onActionButton_Click(id, 2)" class="pointer" style="padding-left: 10px;" data-bs-toggle="modal" data-bs-target="#add_visitor"><i class="fa fa-edit" data-bs-toggle="tooltip" title="Edit"></i></i>
<i (click)="onActionButton_Click(id, 3)" class="pointer" style="padding-left: 10px;"><i class="fa fa-trash" data-bs-toggle="tooltip" title="Delete"></i></i>
