<div>
    <div class="page-wrapper">
      <div class="content container-fluid">
        <!-- Page Header -->
        <div class="crms-title row bg-white mb-4">
          <div class="col">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="la la-table"></i>
              </span>
              <span>Appointment</span>
            </h3>
          </div>
        </div>
  
        <!-- /Page Header -->

      </div>
    </div>
</div>
        