.modal-activity-datepicker {
	position: relative;
	bottom: 43px;
	// left: 130px;
	right: -90%;
	z-index: 999 !important;
}

.crms-task-item.active .accordion-body {
	display: block;
}

.p-l-40 {
	padding-left: 40px;
}

table {
	width: 100%;
}

th,
td {
	padding: 10px;
	text-align: left;
}