<div>
  <div class="page-wrapper">
     <div class="content container-fluid">
        <!-- Page Header -->
        <div class="crms-title row bg-white mb-4">
           <div class="col">
              <h3 class="page-title">
                 <span class="page-title-icon bg-gradient-primary text-white me-2">
                 <i class="la la-table"></i>
                 </span>
                 <span>Front Office</span>
              </h3>
           </div>
           <div class="col text-end">
              <ul class="list-inline-item ps-0 m-0">
                 <li class="list-inline-item">
                    <button class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded"
                       id="add-task" data-bs-toggle="modal" data-bs-target="#add_activity">
                    Add Visitor
                    </button>
                 </li>
              </ul>
           </div>
        </div>
        <div>
        <!-- /Page Header -->
        <ag-grid-angular
        class="ag-theme-quartz"
        style="height: 510px;"
        [pagination]="pagination"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        [rowData]="visitors"
        [columnDefs]="colDefs" />
      </div>
     </div>
  </div>
</div>
<!-- Modal -->
<div class="modal right fade" id="add_activity" tabindex="-1" role="dialog" aria-modal="true" data-bs-backdrop='static'>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
     <button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">×</span>
     </button>
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="btn-close xs-close close-modal" data-bs-dismiss="modal"></button>
           <h4 class="modal-title">Add Visitor</h4>
        </div>
        <div class="modal-body">
          <app-front-office-add-form (onAddVisitor)="refereshGRid($event)"></app-front-office-add-form>
      </div>
     </div>
  </div>
</div>
<!-- modal -->