
/*Background Colors*/


.bg-primary {
    background-color: #673ab7 !important;
}
.bg-secondary {
    background-color: #5a7684 !important;
}
.bg-success {
    background-color: #32ab13 !important;
}
.bg-danger {
    background-color: #f02769 !important;
}
.bg-warning {
    background-color: #ffc107 !important;
}
.bg-info {
    background-color: #198fed !important;
}
.bg-dark {
    background-color: #343a40 !important;
}
.bg-light {
    background-color: #f8f9fa !important;
}

.bg-login-color {
	background-color: #5f4a99!important;
}

.bg-rose {

	background-color: #ff007c!important;

}

.bg-voilet {

	background-color: #7d00b5!important;

}

.bg-dribbble {

	background-color: #ea4c89!important;

}

.bg-facebook {

	background-color: #3b5998!important;

}

.bg-twitter {

	background-color: #55acee!important;

}

.bg-google {

	background-color: #e52d27!important;

}

.bg-linkedin {

	background-color: #0976b4!important;

}

.bg-youtube {

	background-color: #f8130b!important;

}

.bg-tumblr {

	background-color: #34526f!important;

}

.bg-vimeo {

	background-color: #86c9ef!important;

}

.bg-body {

	background-color: #f6f6f6!important;

}

.bg-gray {

	background-color: #dee1e6!important;

}

.bg-red-light {

	background-color: #fe6555!important;

}

.bg-primary-blue {

	background-color: #265ed7!important;

}

.bg-dark-blue {

	background-color: #0c1b7a!important;

}

.bg-shine-info {

	background-color: #54dee4!important;

}

.bg-wall {

	background-color: #00cd98!important;

}

.bg-sunset {

	background-color: #ff8b01!important;

}

.bg-light-primary {

	background-color: rgb(103 58 183 / 15%)!important;

}

.bg-light-success {

	background-color: rgb(50 171 19 / 15%)!important

}

.bg-light-danger {

	background-color: rgb(250 146 180 / 15%)!important;

}

.bg-light-warning {

	background-color: rgb(255 193 7 / 15%)!important

}

.bg-light-info {

	background-color: rgb(205, 233, 255)!important;

}

.bg-light-purple {

	background-color: #dcdcff!important;

}

.bg-light-shineblue {

	background-color: rgb(1 215 255 / 15%)!important

}

.bg-light-cyne {

	background-color: rgb(0 139 139 / 15%)!important

}

.bg-split-primary {

	background-color: #4f2894;

	border-color: #4f2894;

}

.bg-light-sinata {

	background-color: rgb(165 43 187 / 15%)!important

}

.bg-light-mehandi {

	background: rgb(195 240 36 / 26%)!important

}

.bg-gradient-danger {

	background-image: linear-gradient(to left, #ff758c 0%, #ff7eb3 100%);

}

.bg-gradient-voilet {

	background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);

}

.bg-gradient-success {

	background-image: linear-gradient(to left, #05ac9d 0%, #20cfbf 100%);

}

.bg-gradient-mehandi {

	background-image: linear-gradient(to right, #dbe287, #cac531);

}

/*Text Colors*/

.text-primary {
    color: #673ab7 !important;
}

.text-danger {
    color: #f02769 !important;
}

.text-success {
    color: #32ab13 !important;
}

.text-facebook {

	color: #3b5998!important;

}

.text-twitter {

	color: #55acee!important;

}

.text-youtube {

	color: #f8130b!important;

}

.text-linkedin {

	color: #0a66c2!important;

}

.text-skype {

	color: #00aff0!important;

}

.text-purple {

	color: #8280ff!important;

}

.text-shineblue {

	color: #01d7ff!important;

}

.text-cyne {

	color: #008b8b!important;

}

.text-primary-blue {

	color: #265ed7!important;

}

.text-dark-blue {

	color: #0c1b7a!important;

}

.text-shine-info {

	color: #54dee4!important;

}

.text-grey {

	color: #dee1e6!important;

}

.text-red {

	color: #ff392b!important;

}

.text-sinata {

	color: #a52bbb!important;

}

.text-mehandi {

	color: #839838!important;

}

.border-lg-top-primary {

	border-top: 4px solid #673ab7;

}

.border-lg-top-info {

	border-top: 4px solid #198fed;

}

.border-lg-top-danger {

	border-top: 4px solid #f02769;

}

.icon-color-1 {

	color: #ff3030;

}

.icon-color-2 {

	color: #ff007c;

}

.icon-color-3 {

	color: #4CAF50;

}

.icon-color-4 {

	color: #ff8b01;

}

.icon-color-5 {

	color: #a400ed;

}

.icon-color-6 {

	color: #009688;

}

.icon-color-7 {

	color: #03A9F4;

}

.icon-color-8 {

	color: #c37458;

}

.icon-color-9 {

	color: #265ed7;

}

.icon-color-10 {

	color: #30d4e4;

}

.icon-color-11 {

	color: #ca9805;

}

.icon-color-12 {

	color: #a24f30;

}