/*Buttons*/

.btn {

	text-transform: capitalize;

}



.btn-primary {
    color: #fff;
    background-color: #673ab7;
    border-color: #673ab7;
}


.btn-primary {
	color: #fff;
	background-color: #673ab7;
	border-color: #673ab7
}
.btn-primary:hover {
	color: #fff;
	background-color: #5930a1;
	border-color: #5930a1
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
	color: #fff;
	background-color: #5930a1;
	border-color: #5930a1;
	box-shadow: 0 0 0 .25rem rgba(89, 48, 161, 0.5)
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #5930a1;
	border-color: #5930a1
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(89, 48, 161, 0.5)
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #673ab7;
	border-color: #673ab7
}



.btn-success {
	color: #fff;
	background-color: #32ab13;
	border-color: #32ab13
}
.btn-success:hover {
	color: #fff;
	background-color: #2c9b10;
	border-color: #2c9b10
}
.btn-check:focus+.btn-success, .btn-success:focus {
	color: #fff;
	background-color: #2c9b10;
	border-color: #2c9b10;
	box-shadow: 0 0 0 .25rem rgba(44, 155, 16, 0.5)
}
.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #2c9b10;
	border-color: #2c9b10
}
.btn-check:active+.btn-success:focus, .btn-check:checked+.btn-success:focus, .btn-success.active:focus, .btn-success:active:focus, .show>.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(44, 155, 16, 0.5)
}
.btn-success.disabled, .btn-success:disabled {
	color: #fff;
	background-color: #32ab13;
	border-color: #32ab13
}


.btn-danger {
	color: #fff;
	background-color: #f02769;
	border-color: #f02769
}
.btn-danger:hover {
	color: #fff;
	background-color: #e42061;
	border-color: #e42061
}
.btn-check:focus+.btn-danger, .btn-danger:focus {
	color: #fff;
	background-color: #e42061;
	border-color: #e42061;
	box-shadow: 0 0 0 .25rem rgba(228, 32, 97, 0.5)
}
.btn-check:active+.btn-danger, .btn-check:checked+.btn-danger, .btn-danger.active, .btn-danger:active, .show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #e42061;
	border-color: #e42061
}
.btn-check:active+.btn-danger:focus, .btn-check:checked+.btn-danger:focus, .btn-danger.active:focus, .btn-danger:active:focus, .show>.btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(228, 32, 97, 0.5)
}
.btn-danger.disabled, .btn-danger:disabled {
	color: #fff;
	background-color: #e42061;
	border-color: #e42061
}


.btn-warning {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107
}
.btn-warning:hover {
	color: #000;
	background-color: #f5c127;
	border-color: #f5c127
}
.btn-check:focus+.btn-warning, .btn-warning:focus {
	color: #000;
	background-color: #f5c127;
	border-color: #f5c127;
	box-shadow: 0 0 0 .25rem rgba(245, 194, 39, 0.5)
}
.btn-check:active+.btn-warning, .btn-check:checked+.btn-warning, .btn-warning.active, .btn-warning:active, .show>.btn-warning.dropdown-toggle {
	color: #000;
	background-color: #f5c127;
	border-color: #f5c127
}
.btn-check:active+.btn-warning:focus, .btn-check:checked+.btn-warning:focus, .btn-warning.active:focus, .btn-warning:active:focus, .show>.btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(245, 194, 39, 0.5)
}
.btn-warning.disabled, .btn-warning:disabled {
	color: #000;
	background-color: #f5c127;
	border-color: #f5c127
}


.btn-info {
	color: #ffffff;
	background-color: #198fed;
	border-color: #198fed
}
.btn-info:hover {
	color: #ffffff;
	background-color: #1684dd;
	border-color: #1684dd
}
.btn-check:focus+.btn-info, .btn-info:focus {
	color: #ffffff;
	background-color: #1684dd;
	border-color: #1684dd;
	box-shadow: 0 0 0 .25rem rgba(22, 132, 221, 0.5)
}
.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
	color: #ffffff;
	background-color: #3dd5f3;
	border-color: #25cff2
}
.btn-check:active+.btn-info:focus, .btn-check:checked+.btn-info:focus, .btn-info.active:focus, .btn-info:active:focus, .show>.btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgba(22, 132, 221, 0.5)
}
.btn-info.disabled, .btn-info:disabled {
	color: #ffffff;
	background-color: #198fed;
	border-color: #198fed
}


.btn-outline-primary {
	color: #673ab7;
	border-color: #673ab7
}
.btn-outline-primary:hover {
	color: #fff;
	background-color: #673ab7;
	border-color: #673ab7
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
	box-shadow: 0 0 0 .25rem rgba(89, 48, 161, 0.5)
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
	color: #fff;
	background-color: #673ab7;
	border-color: #673ab7
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
	box-shadow: 0 0 0 .25rem rgba(89, 48, 161, 0.5)
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #673ab7;
	background-color: transparent
}


.btn-outline-success {
	color: #32ab13;
	border-color: #32ab13
}
.btn-outline-success:hover {
	color: #fff;
	background-color: #32ab13;
	border-color: #32ab13
}
.btn-check:focus+.btn-outline-success, .btn-outline-success:focus {
	box-shadow: 0 0 0 .25rem rgba(44, 155, 16, 0.5)
}
.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
	color: #fff;
	background-color: #32ab13;
	border-color: #32ab13
}
.btn-check:active+.btn-outline-success:focus, .btn-check:checked+.btn-outline-success:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus, .btn-outline-success:active:focus {
	box-shadow: 0 0 0 .25rem rgba(44, 155, 16, 0.5)
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
	color: #32ab13;
	background-color: transparent
}


.btn-outline-danger {
	color: #f02769;
	border-color: #f02769
}
.btn-outline-danger:hover {
	color: #fff;
	background-color: #f02769;
	border-color: #f02769
}
.btn-check:focus+.btn-outline-danger, .btn-outline-danger:focus {
	box-shadow: 0 0 0 .25rem rgba(228, 32, 97, 0.5)
}
.btn-check:active+.btn-outline-danger, .btn-check:checked+.btn-outline-danger, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show, .btn-outline-danger:active {
	color: #fff;
	background-color: #f02769;
	border-color: #f02769
}
.btn-check:active+.btn-outline-danger:focus, .btn-check:checked+.btn-outline-danger:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus, .btn-outline-danger:active:focus {
	box-shadow: 0 0 0 .25rem rgba(228, 32, 97, 0.5)
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
	color: #f02769;
	background-color: transparent
}


.btn-outline-info {
	color: #198fed;
	border-color: #198fed
}
.btn-outline-info:hover {
	color: #000;
	background-color: #198fed;
	border-color: #198fed
}
.btn-check:focus+.btn-outline-info, .btn-outline-info:focus {
	box-shadow: 0 0 0 .25rem rgba(22, 132, 221, 0.5)
}
.btn-check:active+.btn-outline-info, .btn-check:checked+.btn-outline-info, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show, .btn-outline-info:active {
	color: #000;
	background-color: #198fed;
	border-color: #198fed
}
.btn-check:active+.btn-outline-info:focus, .btn-check:checked+.btn-outline-info:focus, .btn-outline-info.active:focus, .btn-outline-info.dropdown-toggle.show:focus, .btn-outline-info:active:focus {
	box-shadow: 0 0 0 .25rem rgba(22, 132, 221, 0.5)
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
	color: #198fed;
	background-color: transparent
}



.accordion-button:not(.collapsed) {
    color: #673ab7;
    background-color: rgb(103 58 183 / 12%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}


.accordion-button:focus {
	border-color: #673ab7;
	box-shadow: 0 0 0 0.25rem rgb(103 58 183 / 25%);
}

.list-group-item.active {
	background-color: #673ab7;
    border-color: #673ab7;
}


.nav-link {
	color: #673ab7;
}

.page-link {
	color: #673ab7;
}

.page-link:focus {
	z-index: 3;
	color: #673ab7;
	background-color: #e9ecef;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(104, 58, 183, 0.5)
}

.page-item.active .page-link {
	background-color: #673ab7;
    border-color: #673ab7;
}

.progress-bar {
	background-color: #673ab7;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #673ab7;
}

.btn i {

	vertical-align: middle;

	font-size: 1.3rem;

	margin-top: -1em;

	margin-bottom: -1em;

}

.btn-white {

	color: #212529;

	background-color: #ffffff;

	border-color: #ced4da;

}

.btn-light-primary {

	color: #673ab7;

	background-color: rgb(103 58 183 / 30%);

	border-color: rgb(103 58 183 / 30%);

}

.btn-light-success {

	color: #32ab13;

	background-color: rgb(50 171 19 / 30%);

	border-color: rgb(50 171 19 / 30%);

}

.btn-light-danger {

	color: #f02769;

	background-color: rgb(240 39 105 / 30%);

	border-color: rgb(240 39 105 / 30%);

}

.btn-light-info {

	color: #198fed;

	background-color: rgb(25 143 237 / 30%);

	border-color: rgb(25 143 237 / 30%);

}

.btn-light-warning {

	color: #212529;

	background-color: rgb(255 193 7 / 30%);

	border-color: rgb(255 193 7 / 30%);

}

.btn-light-secondary {

	color: #5a7684;

	background-color: rgb(90 118 132 / 30%);

	border-color: rgb(90 118 132 / 30%);

}

.btn-light-dark {

	color: #343a40;

	background-color: rgb(52 58 64 / 30%);

	border-color: rgb(52 58 64 / 30%);

}

.btn-facebook {

	box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);

	background-color: #3b5998;

	border-color: #3b5998;

	color: #fff;

}

.btn-facebook:hover {

	color: #fff;

}

.btn-facebook:focus {

	box-shadow: 0 0 0 .2rem rgba(59, 89, 152, 0.5)

}

.btn-twitter {

	box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);

	background-color: #55acee;

	border-color: #55acee;

	color: #fff;

}

.btn-twitter:hover {

	color: #fff;

}

.btn-twitter:focus {

	box-shadow: 0 0 0 .2rem rgba(85, 172, 238, 0.5)

}

.btn-linkedin {

	box-shadow: 0 2px 2px 0 rgba(9, 118, 180, 0.14), 0 3px 1px -2px rgba(9, 118, 180, 0.2), 0 1px 5px 0 rgba(9, 118, 180, 0.12);

	background-color: #0976b4;

	border-color: #0976b4;

	color: #fff;

}

.btn-linkedin:hover {

	color: #fff;

}

.btn-linkedin:focus {

	box-shadow: 0 0 0 .2rem rgba(9, 118, 180, 0.5)

}

.btn-youtube {

	box-shadow: 0 2px 2px 0 rgba(229, 45, 39, 0.14), 0 3px 1px -2px rgba(229, 45, 39, 0.2), 0 1px 5px 0 rgba(229, 45, 39, 0.12);

	background-color: #e52d27;

	border-color: #e52d27;

	color: #fff;

}

.btn-youtube:hover {

	color: #fff;

}

.btn-youtube:focus {

	box-shadow: 0 0 0 .2rem rgba(229, 45, 39, 0.5)

}

.btn-github {

	box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);

	background-color: #333333;

	border-color: #333333;

	color: #fff;

}

.btn-github:hover {

	color: #fff;

}

.btn-github:focus {

	box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5)

}

.btn-skype {

	box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);

	background-color: #00aff0;

	border-color: #00aff0;

	color: #fff;

}

.btn-skype:hover {

	color: #fff;

}

.btn-skype:focus {

	box-shadow: 0 0 0 .2rem rgba(0, 175, 240, 0.5)

}

.btn-pinterest {

	box-shadow: 0 2px 2px 0 rgba(204, 33, 39, 0.14), 0 3px 1px -2px rgba(204, 33, 39, 0.2), 0 1px 5px 0 rgba(204, 33, 39, 0.12);

	background-color: #cc2127;

	border-color: #cc2127;

	color: #fff;

}

.btn-pinterest:hover {

	color: #fff;

}

.btn-pinterest:focus {

	box-shadow: 0 0 0 .2rem rgba(204, 33, 39, 0.5)

}

.btn-dribbble {

	box-shadow: 0 2px 2px 0 rgba(234, 76, 137, 0.14), 0 3px 1px -2px rgba(234, 76, 137, 0.2), 0 1px 5px 0 rgba(234, 76, 137, 0.12);

	background-color: #ea4c89;

	border-color: #ea4c89;

	color: #fff;

}

.btn-dribbble:hover {

	color: #fff;

}

.btn-dribbble:focus {

	box-shadow: 0 0 0 .2rem rgba(234, 76, 137, 0.5)

}

.btn-group-round button:first-child {

	border-top-left-radius: 10px;

	border-bottom-left-radius: 10px;

}

.btn-group-round button:last-child {

	border-top-right-radius: 10px;

	border-bottom-right-radius: 10px;

}