
.scrollspy-1 {

	height: 200px;

	position: relative;

	overflow-y: scroll;

}

.scrollspy-2 {

	height: 200px;

	position: relative;

	overflow-y: scroll;

}

.chip {

	display: inline-block;

	height: 32px;

	padding: 0 12px;

	margin-right: 1rem;

	margin-bottom: 1rem;

	font-size: 14px;

	font-weight: 500;

	line-height: 32px;

	color: rgba(0, 0, 0, 0.70);

	cursor: pointer;

	background-color: #f1f1f1;

	border: 1px solid rgba(0, 0, 0, 0.15);

	border-radius: 16px;

	-webkit-transition: all .3s linear;

	transition: all .3s linear;

	box-shadow: none;

}

.chip img {

	float: left;

	width: 32px;

	height: 32px;

	margin: 0 8px 0 -12px;

	border-radius: 50%;

}

.chip .closebtn {

	padding-left: 10px;

	font-weight: bold;

	float: right;

	font-size: 16px;

	cursor: pointer;

}

.chip.chip-md {

	height: 42px;

	line-height: 42px;

	border-radius: 21px;

}

.chip.chip-md img {

	height: 42px;

	width: 42px;

}

.chip.chip-lg {

	height: 52px;

	line-height: 52px;

	border-radius: 26px;

}

.chip.chip-lg img {

	height: 52px;

	width: 52px;

}