// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$template-primary: mat.define-palette(mat.$indigo-palette);
$template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$template-theme: mat.define-light-theme(
  (
    color: (
      primary: $template-primary,
      accent: $template-accent,
      warn: $template-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($template-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.show-subMenus {
  display: block;
}
.hide-subMenus {
  display: none;
}
.show-sub-menu {
  display: block !important;
}

.hide-sub-menu {
  display: none !important;
}
.table_header {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.5rem;

  .dataTables_length {
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -24px;
    }

    select {
      width: auto;
      display: inline-block;
      margin: 0px 3px;
    }
  }
}

.table_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1.5rem 1.5rem;

  .pagination_section {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 768px) {
	.table_footer {
    flex-wrap: wrap;
    justify-content: center;
  }
	}
.tag_input {
  .mat-form-field {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;

    .mat-form-field-flex {
      padding: 0.4em 0.75em 0.4em 0.75em;
    }

    .mat-chip-list {
      .mat-chip {
        background-color: #9a55ff !important;
        color: #fff !important;
        border-radius: 5px !important;

        .mat-icon {
          color: white;
        }
      }
    }
  }
}
.close-modal {
position: absolute;
right: 18px;
}
.closing-modal {
position: absolute;
right: 18px;
top: 25px;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: transparent !important;
}
@import "ngx-toastr/toastr";
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// theaming styles
@import "./assets/scss/style.scss";
@import "./assets/scss/style-green.scss";
@import "./assets/scss/style-blue.scss";
@import "./assets/scss/style-orange.scss";
@import "./assets/scss/style.pink.scss";
@import "./assets/scss/style-purple.scss";
@import "./assets/scss/style-red.scss";


@import "./assets/scss/style-gradient-blue.scss";
@import "./assets/scss/style-gradient-green.scss";
@import "./assets/scss/style-gradient-maroon.scss";
@import "./assets/scss/style-gradient-orange.scss";
@import "./assets/scss/style-gradient-pink.scss";
@import "./assets/scss/theme-settings.scss";
@import "./assets/scss/styles-common.scss";


